@tailwind base;

@tailwind components;

@tailwind utilities;

.VPNavBar.home {
	@apply !bg-neutral-900/50
}

.VPNavBar.home.top {
	@apply !bg-transparent
}

.VPNavBar .divider {
	@apply hidden
}

.VPNavBar .wrapper {
	@apply backdrop-blur-lg
}